* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --mainBlack: #777;
  --mainWhite: #fff;
  --mainLineHeight: 3;
  --mainOrange: rgb(253, 156, 1);
  --mainBlue: rgb(1, 111, 190);
  --mainPadding: 20px;

  --naviMarginTop: 30px;


  --fontMcLaren: 'Josefin Sans', sans-serif;
  --fontHeads: 'Ubuntu', sans-serif;
  --fontMain: 'Oxygen', sans-serif;
  --fontNav: 'Poppins', sans-serif;

  --fontTimeNumbers: 'Orbitron', sans-serif;

  --borderWidth: 2px;


  --btnIconSize: 30px;
  --btnIconMargin: 10px;
  --btnIconFz: 1.3rem;
  --btnIconPadding: 5px;


  --mainTransition: .3s;

  --transformCenterObject: translate(-50%, -50%);

  --signPadding: 0 20px;

  --articleWidth: 90%;
  --articleMargin: 20px auto;
  --articlePadding: 40px 20px;
  --articleBorderRadius: 5%;


  --partnersHeight: 15vh;

  --driverStatAnimationDuration: 10s;



  --checkboxSize: 20px;
  --mainTextShadow: -1px 0 var(--mainWhite), 0 1px var(--mainWhite), 1px 0 var(--mainWhite), 0 -1px var(--mainWhite);



}







body {
  /* min-height: 200vh; */
  font-family: var(--fontMain);
}

html {
  scroll-behavior: smooth;

}


.scroll-top {
  position: fixed;
  bottom: 5vh;
  right: 5vh;
  width: 40px;
  height: 40px;
  z-index: 13;
  border: var(--borderWidth) solid var(--mainOrange);
  background-color: rgba(255, 255, 255, .7);
}

.scroll-top svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: var(--transformCenterObject) rotate(-45deg);
  fill: var(--mainOrange);

}

/* header */

header {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

header img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: var(--transformCenterObject);
  /* width: 100%; */
  height: 100%;
  mix-blend-mode: lighten
}

header video {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: var(--transformCenterObject);
  height: 100%;


}

header .title {
  position: absolute;
  bottom: 10%;
  left: 0%;
  width: 100%;
  line-height: var(--mainLineHeight);
  background-color: rgba(50, 50, 50, .8);
  color: var(--mainWhite);
  text-align: center;
  text-transform: capitalize;
  font-family: var(--fontHeads);
}


.navi {
  position: fixed;
  bottom: 0;
  left: 0;
  padding-top: var(--naviMarginTop);
  padding-bottom: var(--naviMarginTop);
  background-color: var(--mainWhite);
  width: 100%;
  transition: var(--mainTransition);
  overflow: hidden;
  border-top: var(--borderWidth) solid var(--mainOrange);
  z-index: 25;
}

.navi.hide {
  left: 100%;
}

.navi ul li {
  list-style-type: none;
  width: 100%;
}

.navi a {
  position: relative;
  display: block;
  width: 100%;
  color: var(--mainBlue);
  text-decoration: none;
  line-height: var(--mainLineHeight);
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 2px;
  font-weight: 700;
  font-family: var(--fontNav);
}


.navi a::after {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  left: -40%;
  width: 10%;
  height: 2px;
  background-color: var(--mainOrange);
  transition: var(--mainTransition);
}


.navi a.active {
  color: var(--mainOrange)
}

.navi a.active::after {
  left: 40%;
}

.btn-menu,
.menu {
  position: absolute;
  right: 2vh;
  top: 2%;
  padding: var(--btnIconPadding);
  background-color: var(--mainWhite);
  margin-top: var(--btnIconMargin);
  font-size: var(--btnIconFz);
  text-align: right;
  border: none;
  color: var(--mainOrange);
  z-index: 2;
}


.menu {
  position: fixed;
  top: 2vh;
  right: 2vh;
  background-color: transparent;
  z-index: 25;
  opacity: 1;
  transition: var(--mainTransition);

}



.menu.hide {
  opacity: 0;
}

/* end of header  */
/* logo */
.logo {
  width: 100%;
  height: 30vh;
}

.logo img,
.full-img {
  width: 100%;
  height: 100%;
  transition: var(--mainTransition)
}


/* end of logo  */

/* error page */

.error-page,
.center-items {
  display: flex;
  flex-wrap: wrap;
  align-items: space-around;
  justify-content: center;
}

.par {

  margin: var(--btnIconMargin);
  text-align: center;
}

.btn-link {
  display: inline-block;
  margin: 25px 0;
  color: var(--mainOrange);
  padding: 10px var(--mainPadding);
  text-decoration: none;
  text-transform: uppercase;

  border: var(--borderWidth) solid var(--mainOrange)
    /* background-color: var(--mainWhite); */

}

/* end of error page  */


/* home page */

.article {
  position: relative;
  width: var(--articleWidth);
  margin: var(--articleMargin);
  padding: var(--articlePadding);
  border: 4px double var(--mainOrange);
  border-radius: var(--articleBorderRadius);
}

.border-sign {
  position: absolute;
  top: -1%;
  left: 10%;
  padding: var(--signPadding);
  background-color: #fff;
  transform: translate(0, -50%);
  color: var(--mainBlue);
  letter-spacing: 3px;
  font-weight: 700;
  font-family: var(--fontMcLaren);
}

.article .title {
  padding-bottom: var(--mainPadding);
  color: var(--mainBlue);
  font-family: var(--fontHeads);
}

.description {
  padding-bottom: var(--mainPadding);

}

.link-cont {
  overflow: hidden;

}


.btn-read-more {
  margin-top: 10px;
  background-color: var(--mainWhite);
  border: none;
  color: var(--mainOrange);
  float: right;
  /* margin-left: auto; */

  text-decoration: none;
}

/* end of home page */

/* single article styling  */

.single-article-title,
.single-article-par,
.single-article-desc {
  /* width: var(--articleWidth); */
  padding: var(--mainPadding) 10px;
}

.single-article-title {
  background-color: var(--mainBlue);
  margin-bottom: 10px;
  color: var(--mainWhite)
}

.img-cont {
  /* overflow: hidden; */
  margin-bottom: var(--mainPadding);
}

.from a {
  display: block;
  margin-right: 10px;
  margin-bottom: 20px;
  float: right;
  color: var(--mainBlue);
  text-decoration: none;
  z-index: 10;
}

.single-article-desc {
  position: relative;
}


.single-article-desc::after {
  display: block;
  content: '';
  position: absolute;
  bottom: calc(0% + var(--mainPadding) / 2);
  left: 0;
  height: 2px;
  width: 100%;
  background-color: var(--mainOrange);
}

.full-img.big {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: var(--transformCenterObject);
  width: auto;
  height: 100vh;
  z-index: 15;
}

/* end of single article styling  */


/* footer  */

footer {

  background-color: #333;
  color: var(--mainWhite)
}

.social {
  padding: var(--mainPadding) calc(var(--mainPadding) / 2);
  display: flex;
  flex-direction: column;
}

.socials {
  margin: calc(var(--mainPadding) / 2);


}

.socials:nth-of-type(1) {
  margin-top: var(--mainPadding);
}

.socials a {
  color: var(--mainWhite);
  text-decoration: none;
  display: flex;
  align-items: center;
}

.socials a svg {
  margin-right: 30px;
}

.partners {
  height: var(--partnersHeight);
  background-color: #fff;
  margin-bottom: var(--mainPadding);

  position: relative;
  overflow: hidden;

}


.partners-animation {
  display: flex;
  position: absolute;
  width: auto;
  left: 0;
  top: 0;
  height: 100%;
  animation: movePartners 60s infinite linear;

}




@keyframes movePartners {
  0% {
    transform: translateX(0%)
  }

  100% {
    transform: translateX(-100%)
  }
}



.partners-animation img {
  height: 100%;
  /* width: auto; */
}

.last-line {
  text-align: center;
  padding-bottom: 5px;
  font-size: .8rem;
  font-family: var(--fontMcLaren);
}

/* end of footer  */

/* loader */
.load {
  height: 50vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: space-around;
  justify-content: center;
}

.load p {
  width: 100%;
  text-align: center;
}

.loading-arrow {
  /* margin: 0 auto; */

  width: 30vh;
  height: 30vh;
}

.loading-arrow svg {
  /* margin: 0 auto; */
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform: rotate(0);
  animation: arrowRotate 1s infinite linear;
}

.loading-arrow img {
  /* margin: 0 auto; */
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform: rotate(0);
  animation: arrowRotate 1s infinite linear;
}

@keyframes arrowRotate {
  from {
    transform: rotate(0)
  }

  to {
    transform: rotate(360deg)
  }
}


/* end of loader  */




/* gallery */
.section-gallery {
  width: 100%;
  margin-bottom: calc(var(--mainPadding) * 2);
}

/* main-title */

.section-gallery .title,
.last-result .title {
  margin-bottom: var(--mainPadding);
  padding: var(--mainPadding);
  color: var(--mainWhite);
  background-color: var(--mainBlue);
}

/* end of main-title */

.gallery-picture {
  position: relative;
  width: 100%;
  height: 30vh;
  overflow: hidden;
  transition: var(--mainTransition);

}

.gallery-img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: var(--transformCenterObject);
  border-bottom: var(--borderWidth) solid var(--mainWhite);
}

.shadow {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transition: var(--mainTransition)
}

.shadow-on {
  background-color: rgba(0, 0, 0, .5);
}

.shadow-off {
  background-color: rgba(0, 0, 0, 0);

}

.zoom-gallery-pic {
  height: 60vh;
}



.picture-desc {
  position: absolute;
  bottom: var(--mainPadding);
  left: var(--mainPadding);
  color: var(--mainWhite);
  transition: var(--mainTransition)
}

/* end of gallery */

/* last result*/



.driver-result {
  margin-bottom: var(--mainPadding);
  width: 100%;
  height: 40vh;

  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: space-between;
  background-color: var(--mainOrange);

}


.driver-name {
  padding-bottom: var(--mainPadding);
  width: 100%;
  color: var(--mainWhite);
  font-size: 1.5rem;
  font-family: var(--fontHeads);
  text-align: center;
  text-shadow: -1px 0 var(--mainBlack), 0 1px var(--mainBlack), 1px 0 var(--mainBlack), 0 -1px var(--mainBlack)
}


.driver-img-cont {
  position: relative;
  width: 45%;
  overflow: hidden;

}

.driver-img-cont img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: var(--transformCenterObject);
  height: 100%;
  filter: drop-shadow(-38px -13px 1px #223);
}

.result-data {
  padding-top: var(--mainPadding);
  display: flex;
  flex-direction: column;
  width: 50%
}

.flex {
  position: relative;
  width: 100%;
  flex-grow: 1;
  background-color: #222;
  color: var(--mainOrange);
  border-left: var(--borderWidth) solid var(--mainWhite);
  border-top: var(--borderWidth) solid var(--mainWhite);

  overflow: hidden;
}

.place-cont,
.time-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;

}

.place-cont div,
.time-cont div {
  width: 100%;
  text-align: center;
}


.place-cont span {
  text-shadow: -1px 0 var(--mainWhite), 0 1px var(--mainWhite), 1px 0 var(--mainWhite), 0 -1px var(--mainWhite);
}

.place-cont span,
.time-cont span {
  display: block;
  padding-top: calc(var(--mainPadding) / 4);
  color: var(--mainBlue);
  font-family: var(--fontTimeNumbers);
  font-weight: 700;
}

.time-cont span {
  animation: blinkAnimation 2s infinite linear;

}

@keyframes blinkAnimation {
  0% {
    opacity: 1
  }

  50% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}


.place-cont {
  position: absolute;
  left: 0;
  top: 0;
  animation: moveToTop var(--driverStatAnimationDuration) infinite linear;

}


.time-cont {
  position: absolute;
  left: 0;
  top: 100%;
  animation: moveToTop var(--driverStatAnimationDuration) reverse infinite linear;
  animation-delay: calc(var(--driverStatAnimationDuration) / 3);
}


@keyframes moveToTop {
  0% {
    transform: translateY(0)
  }

  35% {
    transform: translateY(0)
  }

  50% {
    transform: translateY(-100%)
  }

  85% {
    transform: translateY(-100%)
  }

  100% {
    transform: translateY(0)
  }
}


/* end of last result */
/* drivers short */


.driver-short {
  position: relative;
  padding: 10vh 0;
  margin-bottom: var(--mainPadding);
  background-color: var(--mainBlue);
  display: flex;
  flex-wrap: wrap;
}

.driver-short:nth-of-type(2) {
  background-color: var(--mainOrange);
}

.driver-short div {
  border-bottom: 3px solid var(--mainWhite);
}

.driver-data-short {
  position: relative;
  width: 100%;

  height: 80vh;
}

.image-img1 {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}



.driver-data-name,
.driver-number {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: var(--transformCenterObject);
  font-size: 3em;
  width: 100%;
  text-align: center;
  color: var(--mainWhite);
  z-index: 10;
}

.driver-data-name {
  text-shadow: var(--mainTextShadow);
  color: #333;


}

.driver-number {

  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;

  color: transparent;
  font-size: 15em;
  z-index: 9;
}



.image-gif {
  position: relative;
  height: 40vh;
  width: 100%;
  overflow: hidden;
}

.image-gif img {
  position: absolute;
  left: 0;
  top: 0;
  filter: brightness(0.5)
    /* width: 100%;
  height: 100%; */
}

.btn-goto-driver {
  display: block;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: var(--transformCenterObject);
  width: 90%;
  text-align: center;
  text-decoration: none;
  line-height: 1.5;
  font-size: 3em;
  color: var(--mainWhite)
}


.btn-goto-driver::before {
  display: block;
  content: '';
  position: absolute;
  left: -70%;
  bottom: 100%;
  width: 100%;
  height: 3px;
  background-color: var(--mainWhite);
  transition: var(--mainTransition);
  z-index: 20;

}

.btn-goto-driver::after {
  display: block;
  content: '';
  position: absolute;
  left: 70%;
  top: 100%;
  width: 100%;
  height: 3px;
  background-color: var(--mainWhite);
  transition: var(--mainTransition);
}

.btn-goto-driver:hover::before {
  left: 70%
}

.btn-goto-driver:hover::after {
  left: -70%
}

/* end of drivers short */

/* start of driver page */
.driver-page {
  overflow: hidden;
}


.img-cont-driver {

  height: 50vh;
}

.img-cont-driver .full-img {
  display: block;
  margin: 0 auto;
  width: auto;
}

.name-full {
  padding: var(--mainPadding) 0;
  background-color: var(--mainBlue);
  color: var(--mainWhite);
  text-align: center;
}

.about-driver {
  margin: var(--mainPadding);
}

.about-driver p {
  display: flex;
  justify-content: space-between;
  margin: calc(var(--mainPadding) / 2) 0;
  text-transform: lowercase;
}

.about-driver span {
  font-weight: 700;
  color: var(--mainOrange)
}


.driver-socials {
  position: relative;
  height: 40vh;
}

.video {
  position: absolute;
  left: 0;
  top: 0;
  filter: brightness(.5);
}


.social-media {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: var(--transformCenterObject);
  width: 100%;
  display: flex;
  justify-content: space-around;

  font-size: 2em;
}

.social-media a {
  color: var(--mainWhite);
  text-decoration: none;
}


.info-page p {
  margin: var(--mainPadding);
}

.link-back {
  text-align: center;
}

/* end of driver page */

/* start of single race short */

.single-race {
  width: 100%;
  overflow: hidden;
  margin-bottom: var(--mainPadding);
}

.race-data {
  padding: var(--mainPadding);
  background-color: var(--mainBlue);
  color: var(--mainWhite);

  display: flex;
  flex-wrap: wrap;
}

.race-name,
.race-date {
  width: 100%;
  font-family: var(--fontHeads);

}

.race-date {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.race-date p {
  /* width: calc(100% / 3); */
  margin-right: 5px
}

.race-date a {
  display: block;
  flex-grow: 1;
  text-align: right;
}

.race-date svg {
  /* flex-grow: 1; */
  animation: changeColor 1s infinite;
}


.race-cont {
  position: relative;
  width: 100%;
  height: 50vh;
}



.race-place {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  color: var(--mainWhite);
  font-size: 2em;
  z-index: 10;

  background-color: rgba(0, 0, 0, .5);
  line-height: 1.5;
  font-family: var(--fontMcLaren);
  text-align: center;
}



@keyframes changeColor {
  from {
    color: var(--mainWhite)
  }

  to {
    color: var(--mainOrange)
  }
}







.track-background {
  filter: brightness(.3);

}

.track-background,
.track-white {
  position: absolute;
  left: 0;
  top: 0;
}

.race-cont img {
  width: 100%;
  height: 100%;
}


/* end of single race short */


/* start of next race window */
.next-race {
  background-image: url('./images/schedule/gp1_photo.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}


.date-today {
  width: 100%;
  /* background-color: var(--mainBlue); */
  color: var(--mainWhite)
}

.date-today h3 {
  padding: var(--mainPadding);
  background-color: rgba(1, 111, 190, .8);

  font-family: var(--fontHeads);
}


.date-callendar {
  display: flex;
  padding: calc(var(--mainPadding) / 2) var(--mainPadding);
  background-color: rgba(0, 0, 0, .5);
  backdrop-filter: opacity(.5);

  flex-direction: row-reverse;
  justify-content: flex-end;

  border-bottom: var(--borderWidth) solid var(--mainBlue);
}

.date-callendar p {
  padding-right: calc(var(--mainPadding) / 2);
}


.date-time {
  display: flex;
  background-color: rgba(0, 0, 0, .5);

  padding: calc(var(--mainPadding) / 2) var(--mainPadding);

}

.date-time p {
  padding-right: calc(var(--mainPadding) / 4);

}


.next-race-info {
  /* background-color: var(--mainOrange); */
  color: var(--mainWhite);
  margin-bottom: var(--mainPadding);
}

.next-race-info h3 {
  padding: var(--mainPadding);
  text-transform: capitalize;
  font-family: var(--fontHeads);
  background-color: rgba(253, 156, 1, .8);

}

.next-race-info h4 {
  padding-left: var(--mainPadding);

  /* background-color: #222; */
  background-color: rgba(0, 0, 0, .5);

  border-bottom: var(--borderWidth) solid var(--mainOrange);

  font-size: .8em;
  line-height: 2;
}

.time-to-next {
  display: flex;
  /* background-color: #222; */
  background-color: rgba(0, 0, 0, .5);

  padding: calc(var(--mainPadding) / 2) var(--mainPadding);

}


.next-days {
  margin-right: calc(var(--mainPadding) * 2);
}

/* end of next race window */

/* start of track page */

.track-title {
  padding: var(--mainPadding);
  width: 100%;
  background-color: var(--mainBlue);
  color: var(--mainWhite);
  overflow: hidden;
}

.track-title h4 {
  text-align: right;
  position: relative;
  padding-top: calc(var(--mainPadding) / 2);
  margin-top: calc(var(--mainPadding) / 2);
  font-weight: 300;

}

.track-title h4::after {
  display: block;
  content: '';
  position: absolute;
  left: 25%;
  bottom: 100%;
  width: 100%;
  height: 4px;
  background-color: var(--mainOrange);
}

.track-image {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: var(--mainPadding) 0;
  height: 50vh;
}

.back-text {
  margin-bottom: calc(var(--mainPadding) /2);
  text-align: center;
}

.track-image .full-img {
  height: auto;
  filter: drop-shadow(5px 8px 6px black);
  transition: .3s;
}

.track-image a {
  display: block;
  margin-top: var(--mainPadding);
  margin-right: var(--mainPadding);
  color: var(--mainOrange);
  text-decoration: none;
  text-align: right;
}

.race-date-page {
  padding: var(--mainPadding);
  margin-bottom: var(--mainPadding);
  background-color: var(--mainOrange);
  font-size: 2em;
  color: var(--mainWhite);
  text-align: center;
  font-family: var(--fontMcLaren);
}

.race-date-page p:first-child {
  border-bottom: 4px solid #fff;
  padding-bottom: calc(var(--mainPadding) / 2);
  margin-bottom: calc(var(--mainPadding) / 2);
  font-size: 1.5em;
}

.session-race {
  padding: var(--mainPadding) calc(var(--mainPadding) * 2);
  display: flex;
  align-items: center;
}

.session-date {
  margin-right: var(--mainPadding);
  font-size: 3em;
  font-family: var(--fontNav);
  -webkit-text-fill-color: white;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--mainOrange);
}

.session-time {
  margin-right: var(--mainPadding);
  color: var(--mainBlue)
}

.session-type {
  font-weight: 700;
}

.stats p {
  margin: var(--mainPadding);
  display: flex;

}


.stats p:nth-last-of-type(1) {
  margin-top: 5px;
}

.stats p:nth-last-of-type(2) {
  margin-bottom: 0px;
}

.stats span {
  display: block;
  margin-left: auto;
  font-weight: 700;

}

.track-info p {
  margin: var(--mainPadding);
}

.watch {
  margin: var(--mainPadding) 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.watch a {
  display: block;
  padding: calc(var(--mainPadding) / 2) var(--mainPadding);
  width: 100%;
  color: var(--mainOrange);
  text-decoration: none;
  border-bottom: 3px solid var(--mainOrange);
}




/* end of track page */



/* start of game page */

.game {
  position: relative;

  width: 100%;
  height: 110vh;
  margin-bottom: var(--mainPadding);
  overflow: hidden;
  z-index: 50;
}



.screen-start {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--mainBlue);
  transition: var(--mainTransition);
  z-index: 10;

}


.start-game {
  display: block;

  width: 100%;
  padding: var(--mainPadding);
  text-align: center;
  background-color: rgba(255, 255, 255, .5);
  border: none;

  font-size: 2em;
  text-transform: uppercase;
  color: var(--mainWhite);


}



.screen-start.hide {
  top: 110%;


}

.game-window {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;

  background-image: url('./images/game/car.jpg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.info-game {
  position: absolute;
  left: 0;
  top: 25%;
  padding: calc(var(--mainPadding) * 2) var(--mainPadding);
  background-color: rgba(255, 255, 255, .8);
  line-height: 1.5;
  font-weight: 700;
  font-family: var(--fontMcLaren);
  text-align: center;
  z-index: 9;
}

.clutch {
  position: absolute;
  right: 5vh;
  bottom: 5vh;

  width: 15vh;
  height: 15vh;

  border: 2px solid #fff;
  border-radius: 50%;
  background-color: #f00;

  color: var(--mainWhite);

  text-transform: uppercase;

  display: flex;
  justify-content: center;
  align-items: center;


  user-select: none;
}




.game-lights {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  width: 90%;
  height: 20%;

  display: flex;
  justify-content: space-around;
}

.game-lights div {
  background-color: rgb(17, 8, 8);
  width: 15%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}

.game-lights div span {

  border-radius: 50%;
  background-color: rgb(43, 41, 41);
  width: 80%;
  height: 40%;


}


.game-lights .light-red {
  background-color: rgb(255, 0, 0);

}

.reaction-time {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
  color: var(--mainWhite)
}

.game-sound {
  position: absolute;
  right: 5%;
  top: 5%;
  z-index: 25;
  border: none;
  background-color: transparent;
  font-size: 1.5em;
  color: var(--mainWhite)
}

.false-start {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background-color: #f00;
  color: #fff;
  width: 100%;
  height: 30vh;

  display: flex;
  justify-content: center;
  align-items: center;


  text-transform: uppercase;
  font-size: 2em;

  font-family: var(--fontMcLaren);

}

/* end of game page */



/* login page */
.login-page {
  width: 100%;

}

.login-page h3 {
  margin-bottom: var(--mainPadding);
  color: var(--mainBlue);
  font-size: 1.5em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.input-cont {
  width: 100%;

  margin-bottom: var(--mainPadding);
  display: flex;
  justify-content: center;

}

.input-cont input {
  padding: calc(var(--mainPadding) / 2) 0;
  width: 70%;

  text-align: center;
  border-radius: 20px;
  border: var(--borderWidth) solid var(--mainOrange);
  transition: var(--mainTransition);
  outline: none;
}

.input-cont input:focus {
  width: 90%;
  border: var(--borderWidth) solid var(--mainBlue);

}

.btn-login {
  margin: var(--mainPadding) auto;
  padding: calc(var(--mainPadding) / 2) 0;

  display: block;
  width: 35%;
  background-color: transparent;
  border-radius: 20px;
  border: var(--borderWidth) solid var(--mainBlue);
  transition: var(--mainTransition);
  outline: none;

  text-transform: uppercase;
}

.info-account {
  font-size: 0.8em;
  text-align: center;
  margin-bottom: var(--mainPadding);
}

.btn-create-account {
  width: 60%;
}

.red {
  color: #f00
}

.info-account span {
  display: block;
}


.result2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 15vh;
  z-index: 30;


  color: var(--mainWhite)
}

.danger,
.success {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  font-family: var(--fontMcLaren);
}

.success {
  background-color: rgb(6, 172, 20);
}

.danger {
  background-color: rgb(182, 28, 28);
}

/* end of login page */


/* logged user*/
.user-logged {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: calc(var(--mainPadding) *2);
}

.user-logged h1 {
  font-size: 1.5rem;
  margin: 0 var(--mainPadding);
}

.avatar {
  position: relative;
  width: 30px;
  height: 30px;
  border: 2px solid black;
  border-radius: 50%;
  overflow: hidden;
}

.avatar img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

/* end of logged user */


/* filter */
.filters {
  background-color: #ddd;
  padding: var(--mainPadding);
  margin: var(--mainPadding) 0;
}

.single-filter h3 {
  margin-bottom: var(--mainPadding);
  padding-bottom: calc(var(--mainPadding) / 2);
  border-bottom: 2px solid var(--mainBlack);
  font-family: var(--fontHeads);
}

.single-filter div {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: calc(var(--mainPadding) / 2);
}

.new-checkbox {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: var(--checkboxSize);
  height: var(--checkboxSize);
  border: var(--borderWidth) solid var(--mainBlue);
  border-radius: 20%;
  transition: var(--mainTransition);
}

input:checked~.new-checkbox {
  background-color: var(--mainBlue);
}

.new-checkbox::after {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  content: ' \2714';
  color: #ddd;
  font-weight: 700;
  font-size: 0;
  transition: var(--mainTransition);
}

input:checked~.new-checkbox::after {
  font-size: 1em;
}



.single-filter div input[type=checkbox] {
  opacity: 0;
  width: var(--checkboxSize);
  height: var(--checkboxSize);
  z-index: 2;
  margin-right: var(--mainPadding);
}

label {
  text-transform: capitalize;
}



/* input range */

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin-bottom: var(--mainPadding);
  background: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: var(--borderWidth) solid var(--mainBlack);
  height: calc(var(--checkboxSize) * 2);
  width: var(--checkboxSize);
  border-radius: 20%;
  background-color: #fff;
  cursor: pointer;
  margin-top: calc(-1 * var(--checkboxSize) + 2 * var(--borderWidth));
}

/* Firefox */
input[type=range]::-moz-range-thumb {
  border: var(--borderWidth) solid var(--mainBlack);
  height: calc(var(--checkboxSize) * 2);
  width: var(--checkboxSize);
  border-radius: 20%;
  background-color: #fff;
  cursor: pointer;
}

/* IE */
input[type=range]::-ms-thumb {
  border: var(--borderWidth) solid var(--mainBlack);
  height: calc(var(--checkboxSize) * 2);
  width: var(--checkboxSize);
  border-radius: 20%;
  background-color: #fff;
  cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: calc(var(--checkboxSize) / 2);
  cursor: pointer;
  background-color: var(--mainBlue);
  border: var(--borderWidth) solid #000;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: calc(var(--checkboxSize) / 2);
  cursor: pointer;
  background-color: var(--mainBlue);
  border: var(--borderWidth) solid #000;
}

input[type=range]::-ms-track {
  width: 100%;
  height: calc(var(--checkboxSize) / 2);
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: var(--checkboxSize) 0;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background-color: var(--mainBlue);
  border: var(--borderWidth) solid #000;
}


input[type=range]::-ms-fill-upper {
  background-color: var(--mainBlue);
  border: var(--borderWidth) solid #000;

}


/* end of input range */

/* end of filter */


/* shop one item cart */
.featured-items,
.shop-items-filtered {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
}


.featured-items h3 {
  margin: var(--mainPadding);
  width: 100%;
}



.shop-item {
  position: relative;
  margin-bottom: var(--mainPadding);
  width: 70%;
  border: var(--borderWidth) solid #ddd
}

.featured-items .shop-item {
  background-color: var(--mainOrange);
  border: var(--borderWidth) solid var(--mainOrange)
}


.shop-item h1 {
  padding: var(--mainPadding);
  padding-bottom: 0;
  font-size: 1em;

  text-align: center;
}


.shop-item h2 {
  padding-bottom: var(--mainPadding);
  text-align: center;
  font-size: .8em;
  color: #fff;
}

.shop-items-filtered h2 {
  color: var(--mainBlue);

}


.item-img {
  width: 100%;
  background-color: #fff;
}


/* .item-img a {
  display: block;
  padding: calc(var(--mainPadding)/2) 0;
  color: black;
  text-decoration: none;
  text-align: center;
  text-transform: lowercase;
} */

.shop-rest {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  /* padding-bottom: var(--mainPadding); */
}


.shop-rest h4 {
  text-align: center;
  /* color: #fff; */
}

.add-to-cart {
  display: block;
  background-color: transparent;
  border: none;
  font-size: 2em;
  outline: none;
  /* color: white; */
}

.list-count {
  width: 100%;
  text-align: center;
  margin-bottom: var(--mainPadding);
}


/* end of shop one item cart */


/* item page */

.item-name {
  padding: var(--mainPadding);

  font-size: 1.25em;
  font-weight: 700;
  font-family: var(--fontHeads);
}

.item-path {
  margin-top: calc(var(--mainPadding) / 2);
  font-size: 0.5em;
  color: #999;
}

.item-path *,
.item-featured * {
  margin-right: 5px;
}

.item-featured {
  display: flex;
  align-items: center;
  margin-top: calc(var(--mainPadding) / 2);
  font-size: 0.75em;
}

.item-cont {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 40vh;
  overflow: hidden;
}

.item-image {
  width: 50%;
  border: var(--borderWidth) solid black;
}

.item-image img {
  width: 100%;
}

.item-info {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  height: 70%;
  width: 30%;
}

.item-colors {
  display: flex;
  flex-wrap: wrap;
}

.item-colors p {
  width: 100%;
}

.color-box {
  display: block;
  margin-top: calc(var(--mainPadding) / 2);
  margin-right: calc(var(--mainPadding) / 2);
  width: var(--checkboxSize);
  height: var(--checkboxSize);
  box-shadow: 2px 2px gray;
}

.item-info button {
  position: relative;
  padding: calc(var(--mainPadding) / 2);

  color: var(--mainOrange);
  background-color: transparent;
  text-align: left;
  outline: none;
  border: none;
  overflow: hidden;
}

.item-info button::after {
  position: absolute;
  content: '';
  left: -80%;
  top: 0%;
  height: var(--borderWidth);
  width: 100%;
  background-color: var(--mainOrange);

}

.item-info button::before {
  position: absolute;
  content: '';
  left: 0%;
  top: -50%;
  width: var(--borderWidth);
  height: 100%;
  background-color: var(--mainOrange);

}

.desc {
  padding: var(--mainPadding);

}

.item-comment {
  margin: var(--mainPadding);
  padding: var(--mainPadding);
  display: flex;
  flex-wrap: wrap;
  background-color: #eee;
}

.comment-img-cont {
  width: 30%;
}

.comment-img-cont img {
  width: 100%;
}

.comment-author-cont {
  width: 70%;
  padding-left: var(--mainPadding);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.star-gold {
  color: gold;
}

.star-gray {
  color: gray;
}

.comment-txt {
  margin-top: var(--mainPadding);
}

/* end of item page */


/* cart icon*/
.cart-icon {
  position: fixed;
  left: 5vh;
  top: 5vh;
  width: 40px;
  height: 40px;
  background-color: var(--mainOrange);
  border-radius: 50%;
  z-index: 10;
}

.cart-icon-icon {
  position: absolute;
  left: 40%;
  top: 50%;
  transform: var(--transformCenterObject);
  width: 50%;
  height: 50%;
  color: white;
  stroke-width: 50px;
}

.cart-items-number {
  position: absolute;
  left: 60%;
  top: 10%;
  padding: 1px;
  color: white;
  font-weight: 700;
  border-radius: 50%;
  text-align: center;
  font-size: .75em;
}

/* end of cart icon */


/* cart page */
.cart-title {
  padding: var(--mainPadding);
  background-color: var(--mainBlue);
  color: white;
}


.cart-item {
  /* margin: var(--mainPadding) 0; */
  display: flex;
  flex-wrap: wrap;
  padding: var(--mainPadding);
  background-color: #eee;
}

.cart-item:nth-of-type(even) {
  background-color: #ddd;

}

.up-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.rest-info {
  margin-top: var(--mainPadding);
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.rest-info div {
  width: 100%;
  text-align: center;
}


.item-amount button {
  border: var(--borderWidth) solid var(--mainBlue);
  background-color: transparent;
  outline: none;
  width: var(--checkboxSize);
  height: var(--checkboxSize);
  margin: calc(var(--mainPadding) / 2);
}


.cart-item-img {
  margin-top: var(--mainPadding);
  margin-right: var(--mainPadding);
  width: 30%;
  border: var(--borderWidth) solid black;
  background-color: #fff;
}

.cart-item-img img {
  width: 100%;
}


.empty-cart {
  height: 50vh;
  padding: var(--mainPadding);

}

.total,
.continue-cart {
  padding-right: var(--mainPadding);
  padding-top: var(--mainPadding);
  text-align: right;
}

.continue-cart {
  margin-bottom: var(--mainPadding);
}

.continue-cart a {
  padding: 5px 20px;
  border: 2px solid var(--mainBlue);
  text-decoration: none;
  color: var(--mainBlue);

}

/* end of cart page */


/* checkout page */

.item-list-short {
  width: 90%;
  margin: var(--mainPadding) auto;
  overflow: hidden;

  box-shadow: 2px 2px gray;

}

.item-list-table {
  width: 100%;
  font-size: 0.75em;
}

.table-header {
  background-color: #ddd;
}

.table-image,
.table-name,
.table-quantity,
.table-price {
  padding: 5px;
  width: 20%;
  text-align: center;

  box-shadow: 2px 2px gray;
}

.table-image img {
  width: 100%;
}

.table-name {
  width: 40%
}

.your-order {
  font-size: 1em;
  margin: var(--mainPadding);
}


.order-user-place {
  width: 90%;
  margin: var(--mainPadding) auto;

}



.order-user-place label {
  display: flex;
  margin: var(--mainPadding) 0;
  justify-content: space-between;
  align-items: center;
}

.order-user-place input {
  padding-right: 10px;
  text-align: right;

}

.save-address-div {
  display: flex;
  justify-content: flex-end;
}

.save-address {

  background-color: transparent;
  outline: none;
  padding: 5px 20px;
  border: 2px solid var(--mainOrange);
  text-decoration: none;
  font-family: var(--fontMain);
}

/* end of checkout page */