* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --mainBlack: #777;
  --mainWhite: #fff;
  --mainLineHeight: 3;


  --naviMarginTop: 30px;


  --borderWidth: 2px;


  --btnIconSize: 30px;
  --btnIconMargin: 10px;
  --btnIconFz: 1.3rem;
  --btnIconPadding: 5px;


  --mainTransition: .3s;

  --transformCenterObject: translate(-50%, -50%);


}







body {
  min-height: 300vh;
}

header {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

header img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: var(--transformCenterObject);
  /* width: 100%; */
  height: 100%;
  mix-blend-mode: lighten
}

header video {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: var(--transformCenterObject);
  height: 100%;


}

header .title {
  position: absolute;
  bottom: 10%;
  left: 0%;
  width: 100%;
  line-height: var(--mainLineHeight);
  background-color: rgba(50, 50, 50, .8);
  color: var(--mainWhite);
  text-align: center;
  text-transform: capitalize;
}


.navi {
  position: fixed;
  bottom: 0;
  left: 0;
  padding-top: var(--naviMarginTop);
  background-color: var(--mainWhite);
  width: 100%;
  transition: var(--mainTransition);

}

.navi.hide {
  left: 100%;
}

.navi ul li {
  list-style-type: none;
  width: 100%;
}

.navi a {
  display: block;
  width: 100%;
  color: var(--mainBlack);
  text-decoration: none;
  line-height: var(--mainLineHeight);
  text-align: center;
  text-transform: capitalize;
}

.navi a.active {
  color: red
}



.btn-menu,
.menu {
  position: absolute;
  right: 5%;
  top: 2%;
  padding: var(--btnIconPadding);
  background-color: var(--mainWhite);
  margin-top: var(--btnIconMargin);
  font-size: var(--btnIconFz);
  text-align: right;
  border: none;
}


.menu {
  position: fixed;
  top: 5%;
  right: 5%;
  background-color: transparent;
  z-index: 2;
  opacity: 1;
  transition: var(--mainTransition);
}

.menu.hide {
  opacity: 0;
}