* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --mainBlack: #777;
  --mainWhite: #fff;
  --mainLineHeight: 3;
  --mainOrange: rgb(253, 156, 1);
  --mainBlue: rgb(1, 111, 190);
  --mainPadding: 20px;

  --naviMarginTop: 30px;


  --fontMcLaren: 'Josefin Sans', sans-serif;
  --fontHeads: 'Ubuntu', sans-serif;
  --fontMain: 'Oxygen', sans-serif;
  --fontNav: 'Poppins', sans-serif;


  --borderWidth: 2px;


  --btnIconSize: 30px;
  --btnIconMargin: 10px;
  --btnIconFz: 1.3rem;
  --btnIconPadding: 5px;


  --mainTransition: .3s;

  --transformCenterObject: translate(-50%, -50%);

  --signPadding: 0 20px;

  --articleWidth: 90%;
  --articleMargin: 20px auto;
  --articlePadding: 40px 20px;
  --articleBorderRadius: 5%;


  --partnersHeight: 15vh;


}







body {
  /* min-height: 200vh; */
  font-family: var(--fontMain);

}


/* header */

header {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

header img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: var(--transformCenterObject);
  /* width: 100%; */
  height: 100%;
  mix-blend-mode: lighten
}

header video {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: var(--transformCenterObject);
  height: 100%;


}

header .title {
  position: absolute;
  bottom: 10%;
  left: 0%;
  width: 100%;
  line-height: var(--mainLineHeight);
  background-color: rgba(50, 50, 50, .8);
  color: var(--mainWhite);
  text-align: center;
  text-transform: capitalize;
  font-family: var(--fontHeads);
}


.navi {
  position: fixed;
  bottom: 0;
  left: 0;
  padding-top: var(--naviMarginTop);
  padding-bottom: var(--naviMarginTop);
  background-color: var(--mainWhite);
  width: 100%;
  transition: var(--mainTransition);
  overflow: hidden;
  border-top: var(--borderWidth) solid var(--mainOrange);
  z-index: 10;
}

.navi.hide {
  left: 100%;
}

.navi ul li {
  list-style-type: none;
  width: 100%;
}

.navi a {
  position: relative;
  display: block;
  width: 100%;
  color: var(--mainBlue);
  text-decoration: none;
  line-height: var(--mainLineHeight);
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 2px;
  font-weight: 700;
  font-family: var(--fontNav);
}


.navi a::after {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  left: -40%;
  width: 10%;
  height: 2px;
  background-color: var(--mainOrange);
  transition: var(--mainTransition);
}


.navi a.active {
  color: var(--mainOrange)
}

.navi a.active::after {
  left: 40%;
}

.btn-menu,
.menu {
  position: absolute;
  right: 2vh;
  top: 2%;
  padding: var(--btnIconPadding);
  background-color: var(--mainWhite);
  margin-top: var(--btnIconMargin);
  font-size: var(--btnIconFz);
  text-align: right;
  border: none;
  color: var(--mainOrange);
  z-index: 2;
}


.menu {
  position: fixed;
  top: 2vh;
  right: 2vh;
  background-color: transparent;
  z-index: 2;
  opacity: 1;
  transition: var(--mainTransition);
}

.menu.hide {
  opacity: 0;
}

/* end of header  */
/* logo */
.logo {
  width: 100%;
  height: 30vh;
}

.logo img,
.full-img {
  width: 100%;
  height: 100%;
  transition: var(--mainTransition)
}


/* end of logo  */

/* error page */

.error-page,
.center-items {
  display: flex;
  flex-wrap: wrap;
  align-items: space-around;
  justify-content: center;
}

.par {

  margin: var(--btnIconMargin);
  text-align: center;
}

.btn-link {
  margin: 25px 0;
  color: var(--mainOrange);
  padding: 10px var(--mainPadding);
  text-decoration: none;
  text-transform: uppercase;

  border: var(--borderWidth) solid var(--mainOrange)
    /* background-color: var(--mainWhite); */

}

/* end of error page  */


/* home page */

.article {
  position: relative;
  width: var(--articleWidth);
  margin: var(--articleMargin);
  padding: var(--articlePadding);
  border: 4px double var(--mainOrange);
  border-radius: var(--articleBorderRadius);
}

.border-sign {
  position: absolute;
  top: -1%;
  left: 10%;
  padding: var(--signPadding);
  background-color: #fff;
  transform: translate(0, -50%);
  color: var(--mainBlue);
  letter-spacing: 3px;
  font-weight: 700;
  font-family: var(--fontMcLaren);
}

.article .title {
  padding-bottom: var(--mainPadding);
  color: var(--mainBlue);
  font-family: var(--fontHeads);
}

.description {
  padding-bottom: var(--mainPadding);

}

.link-cont {
  overflow: hidden;

}


.btn-read-more {
  margin-top: 10px;
  background-color: var(--mainWhite);
  border: none;
  color: var(--mainOrange);
  float: right;
  /* margin-left: auto; */

  text-decoration: none;
}

/* end of home page */

/* single article styling  */

.single-article-title,
.single-article-par,
.single-article-desc {
  /* width: var(--articleWidth); */
  padding: var(--mainPadding) 10px;
}

.single-article-title {
  background-color: var(--mainBlue);
  margin-bottom: 10px;
  color: var(--mainWhite)
}

.img-cont {
  /* overflow: hidden; */
  margin-bottom: var(--mainPadding);
}

.from a {
  display: block;
  margin-right: 10px;
  margin-bottom: 20px;
  float: right;
  color: var(--mainBlue);
  text-decoration: none;
  z-index: 10;
}

.single-article-desc {
  position: relative;
}


.single-article-desc::after {
  display: block;
  content: '';
  position: absolute;
  bottom: calc(0% + var(--mainPadding) / 2);
  left: 0;
  height: 2px;
  width: 100%;
  background-color: var(--mainOrange);
}

.full-img.big {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: var(--transformCenterObject);
  width: auto;
  height: 100vh;
  z-index: 15;
}

/* end of single article styling  */


/* footer  */

footer {

  background-color: #333;
  color: var(--mainWhite)
}

.social {
  padding: var(--mainPadding) calc(var(--mainPadding) / 2);
  display: flex;
  flex-direction: column;
}

.socials {
  margin: calc(var(--mainPadding) / 2);


}

.socials:nth-of-type(1) {
  margin-top: var(--mainPadding);
}

.socials a {
  color: var(--mainWhite);
  text-decoration: none;
  display: flex;
  align-items: center;
}

.socials a svg {
  margin-right: 30px;
}

.partners {
  height: var(--partnersHeight);
  background-color: #fff;
  margin-bottom: var(--mainPadding);

  position: relative;
  overflow: hidden;

}


.partners-animation {
  display: flex;
  position: absolute;
  width: auto;
  left: 0;
  top: 0;
  height: 100%;
  animation: movePartners 60s infinite linear;

}




@keyframes movePartners {
  0% {
    transform: translateX(0%)
  }

  100% {
    transform: translateX(-100%)
  }
}



.partners-animation img {
  height: 100%;
  /* width: auto; */
}

.last-line {
  text-align: center;
  padding-bottom: 5px;
  font-size: .8rem;
  font-family: var(--fontMcLaren);
}

/* end of footer  */

/* loader */
.load {
  height: 50vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: space-around;
  justify-content: center;
}

.load p {
  width: 100%;
  text-align: center;
}

.loading-arrow {
  /* margin: 0 auto; */

  width: 30vh;
  height: 30vh;
}

.loading-arrow svg {
  /* margin: 0 auto; */
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform: rotate(0);
  animation: arrowRotate 1s infinite linear;
}

@keyframes arrowRotate {
  from {
    transform: rotate(0)
  }

  to {
    transform: rotate(360deg)
  }
}


/* end of loader  */




/* gallery */
.section-gallery {
  width: 100%;
  margin-bottom: calc(var(--mainPadding) * 2);
}

.section-gallery .title {
  margin-bottom: var(--mainPadding);
  padding: var(--mainPadding);
  color: var(--mainWhite);
  background-color: var(--mainBlue);
}

.gallery-picture {
  position: relative;
  width: 100%;
  height: 30vh;
  overflow: hidden;
  transition: var(--mainTransition);

}

.gallery-img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: var(--transformCenterObject);
  border-bottom: var(--borderWidth) solid var(--mainWhite);
}

.shadow {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transition: var(--mainTransition)
}

.shadow-on {
  background-color: rgba(0, 0, 0, .5);
}

.shadow-off {
  background-color: rgba(0, 0, 0, 0);

}

.zoom-gallery-pic {
  height: 60vh;
}



.picture-desc {
  position: absolute;
  bottom: var(--mainPadding);
  left: var(--mainPadding);
  color: var(--mainWhite);
  transition: var(--mainTransition)
}

/* end of gallery */